html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mont', sans-serif;
    font-size: 16px;
    line-height: normal;
    font-style: normal;
    color: #1A1A1A;
    background-color: #F4F6F8;
    -webkit-tap-highlight-color: transparent;
    overflow-x: clip;

    &.hidden_body {
        overflow-y: clip;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}