.menu {
    display: none;
}

@media (max-width: 1024px) {
    .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        height: 70px;
        border-radius: 30px 30px 0px 0px;
        border: 1px solid rgba(3, 59, 128, 0.1);
        background: #fff;
        padding: 14px 20px;
        z-index: 100;

        &__item {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 7px;
            justify-content: space-between;

            span {
                color: #9ab1cc;
                font-size: 11px;
                font-weight: 700;
            }
        }

        &__item-avatar {
            width: 22px;
            height: 22px;
            flex-shrink: 0;
            border-radius: 5.156px;
            background: #e3ecf7;
            color: #056BE9;
            text-align: center;
            font-size: 12.031px;
            font-weight: 700;
            line-height: 120%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__item.active span {
            color: #056be9;
        }

        &__item svg path {
            color: #9AB1CC;
        }

        &__item.active svg path {
            color: #056BE9;
        }
    }
}
