.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(7.5px);
    display: none;
    align-items: center;
    justify-content: center;

    &.show {
        display: flex;
    }

    &__content {
        border-radius: 40px;
        background: #fff;
        position: relative;
        // overflow-y: scroll;
        height: 100%;
    }

    &__close-btn {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 24px;
        transition: opacity 0.2s ease;
        z-index: 3;

        &:hover {
            opacity: 0.8;
        }
    }
}

@media (max-width: 1024px) {
    .modal {
        padding: 0 17px;

        &__close-btn {
            width: 36px;
            height: 36px;
            right: 10px;
            top: 33px;
        }
        &__content {
            overflow-y: scroll;
        }
    }
}